@using Domain.Models;
@model SaleLogCreateViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Satış Kaydı Ekle</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <label asp-for="Data.ProductId" class="control-label"></label>
            <select asp-for="Data.ProductId" class="form-select" aria-label="Seçiniz">
              <option selected disabled value="0">Seçiniz</option>
                @foreach(var p in Model.Products)
                {
                    <option value="@p.ProductNo">@p.Name</option>
                }
            </select>

         
            <br />
            <label asp-for="Data.CustomerId" class="control-label"></label>
            <select asp-for="Data.CustomerId" class="form-select" aria-label="Seçiniz">
              <option selected disabled value="0">Seçiniz</option>
                @foreach(var p in Model.Customers)
                {
                    <option value="@p.CustomerNo">@p.Name : @p.CompanyName</option>
                }
            </select>
            <br />
            <div class="form-group">
                <label asp-for="Data.Count" class="control-label"></label>
                <input asp-for="Data.Count" class="form-control" />
                <span asp-validation-for="Data.Count" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Data.PricePerUnit" class="control-label"></label>
                <input asp-for="Data.PricePerUnit" class="form-control" />
                <span asp-validation-for="Data.PricePerUnit" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Data.Description" class="control-label"></label>
                <input asp-for="Data.Description" class="form-control" />
                <span asp-validation-for="Data.Description" class="text-danger"></span>
            </div>
        
            <br />
            <div class="form-group">
                <input type="submit" value="Ekle" class="btn btn-primary w-100" />
            </div>
        </form>
    </div>
</div>
<br />
<div>
    <a asp-action="List">Listeye Dön</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
