@model IEnumerable<Domain.Entities.Sale>

@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="card shadow mb-4">
    <div class="card-header py-3 ">
        <div class="row px-3">
            
            <div class="d-flex justify-content-between">
                <h2 class="m-0 font-weight-bold text-black">Satışlar</h2>
                <a asp-action="Create" class="btn btn-success ">Yeni Kayıt Ekle</a>

            </div>
        </div>


    </div>
    <div class="card-body">
        <div class="row">
            <div class="col">
                <table class="table" id="my_DataTable">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Id)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.RegisterDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ProductId)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CustomerId)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.PricePerUnit)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Count)
                            </th>
                            <th>
                                Toplam Fiyat
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Description)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.UserId)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Id)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.RegisterDate)
                                </td>
                                <td>

                                    @Html.ActionLink(item.Product.Name,"Edit","Product", new { id = item.ProductId })
                                </td>

                                <td>

                                    @Html.ActionLink(item.Customer.CompanyName,"Details","Customer", new { id = item.CustomerId })
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PricePerUnit)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Count)
                                </td>
                                <td>
                                    @(item.Count * item.PricePerUnit)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.User.EmailAddress)
                                </td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>




