@model Domain.Entities.User

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Kullanıcı Detay</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsValid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsValid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegisterDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegisterDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmailAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmailAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastLoginIp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastLoginIp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastLoginUserAgent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastLoginUserAgent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastLoginDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastLoginDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FailedPasswordCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FailedPasswordCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PasswordLastUpdateDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PasswordLastUpdateDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeletedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeletedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RoleType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RoleType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RoleString)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RoleString)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Düzenle", "Edit", new { id = Model.Id}) |
    <a asp-action="Index">Listeye Dön</a>
</div>
