@model IEnumerable<Domain.Entities.DebtLog>

@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Borç Takip Listesi</h1>

<p>
    <a asp-action="Create">Yeni Kayıt Ekle</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegisterDate)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.TypeString)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Money)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RegisterDate)
                </td>
                <td>
                    @if (item.Type == 1)
                    {
                        <div class="text-success">
                            @Html.DisplayFor(modelItem => item.TypeString)

                        </div>
                    }
                    else
                    {
                        <div class="text-danger">
                            @Html.DisplayFor(modelItem => item.TypeString)
                        </div>
                    }
                </td>
                <td>
                    @Html.ActionLink(item.Customer.CompanyName,"Details","Customer", new { id = item.CustomerId })
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Money)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>

                <td>
                    
                    @Html.DisplayFor(modelItem => item.User.EmailAddress)
                </td>

            </tr>
        }
    </tbody>
</table>
