@using Application.Caching;
@model IEnumerable<Domain.Entities.BuyLog>

@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Alış Takip Listesi</h1>

<p>
    <a asp-action="Create">Yeni Kayıt Ekle</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegisterDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Count)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SupplierId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PricePerUnit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RegisterDate)
                </td>
                <td>
                    @{
                        var productName = DbCache.GetProductName(item.ProductId);
                    }
                    @Html.ActionLink(productName,"Edit","Product", new { id = item.ProductId })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Count)
                </td>

                <td>
                    @{
                        var supplierName = DbCache.GetSupplierName(item.SupplierId);
                    }
                    @Html.ActionLink(supplierName,"Edit","Supplier", new { id = item.SupplierId })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PricePerUnit)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>

                <td>
                    @{
                        var userName = DbCache.GetUserEmail(item.UserId);
                    }
                    @Html.DisplayFor(modelItem => userName)
                </td>

            </tr>
        }
    </tbody>
</table>
